@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

:root {
	--gradient: linear-gradient(
		to right bottom,
		rgb(79, 176, 255),
		rgb(191, 148, 255)
	);
	--gradient-1: #ffe51f;
	--gradient-2: #ed8e4b;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(
		to right bottom,
		rgb(33, 56, 75),
		rgb(25, 42, 55)
	);

	font-family: 'Nunito', sans-serif;
	color: #fff;
}

.timer {
	background: var(--gradient);
	margin: 0 auto;
	padding: 32px;
	border-radius: 16px;
}
.timer__title {
	font-size: 48px;
	text-align: center;
}
.timer__box {
	display: flex;
	justify-content: center;
	margin-top: 32px;
}
.timer__item {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 110px;
	padding: 16px;
}

.timer__item:not(:last-child) {
	margin-right: 32px;
}
.timer__num {
	z-index: 1;

	font-size: 48px;
	font-weight: 500;
	line-height: 1em;
}
.timer__name {
	margin-top: 16px;
	font-weight: 300;
}

/* Circle */
.circle-wrap {
	--size: 70px;
	width: var(--size);
	height: var(--size);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle {
	--offset: -10px;
	position: absolute;
	top: var(--offset);
	right: var(--offset);
	bottom: var(--offset);
	left: var(--offset);
	transform: rotate(-90deg);
}
.segment {
	fill: rgba(0, 0, 0, 0.2);
	stroke: url(#gradient);
	stroke-width: 1px;
	stroke-dasharray: 60 60;
	stroke-linecap: round;
	transform: scale(4.7);
	transform-origin: center;
	transition: stroke-dasharray 1s linear;
}

.gradient-1 {
	stop-color: var(--gradient-1);
}
.gradient-2 {
	stop-color: var(--gradient-2);
}
